.navBar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}
.navDiv{
    position: relative;
}
.itemsIcon{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.itemDiv{
    background-color: white;
    color: black;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}
.cart{
    text-align: center;
}
.cartClearBtn{
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: red ;
    color: white;
}
.cartItem{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px ;
}
.cartInfo{
    text-align: right;
}
.cartQuantityBtn{
    border: none;
    border-color: white;
}
.cartBtn{
    text-align: center;
    margin-left: 80%;
}
.cartDeleteBtn{
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: red ;
    color: white;
    margin-top: 50px;
}
.img{
    width: 350px;
    height: 300px;
}